[v-cloak] {
    display: none;
}
.page-link {
    color: #6c757d;
}
.page-item.active .page-link {
    background-color: #6c757d;
    border-color: #6c757d;
}
.page-link:hover {
    color: #343a40  ;
}
