<template>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 pb-3">
            <div v-if="loader" class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <div v-else>
                <button type="button" class="btn btn-success" v-on:click="startGenerate()">Generate posts</button>
                <button type="button" class="btn btn-danger" v-on:click="stopGenerate()">Stop post generation</button>
                <button type="button" class="btn btn-secondary" v-on:click="refreshList()">Refresh list</button>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            loader: {
                type: Number,
                default: 0
            }
        },
        methods: {
            startGenerate: function () {
                this.$emit('start-generate');
            },
            stopGenerate: function () {
                this.$emit('stop-generate');
            },
            refreshList: function () {
                this.$emit('refresh-list');
            },
        }
    }

</script>
