<template>
    <div v-if="list && list.data">
        <div class="row pb-2" v-for="item in list.data" :key="item.id">
            <div class="col-lg-2 col-md-4 col-sm-5">{{ item.updated_at|formatDate }}</div>
            <div class="col-lg-10 col-md-8 col-sm-7">{{ item.content }}</div>
        </div>
        <pagination v-bind:data="list" @pagination-change-page="getResults" align="center"></pagination>
    </div>
</template>

<script>
    export default {
        props: {
            list: {
                type: Object,
                default: function () {
                    return {}
                }
            }
        },
        methods: {
            getResults: function (page = 1) {
                this.$emit('get-results', page);
            }
        }
    }

</script>
