<template>
    <div id="postPage">
        <status-component v-bind:active="active"></status-component>

        <button-component v-bind:loader="loader" v-on:start-generate="startGenerate" v-on:stop-generate="stopGenerate" v-on:refresh-list="refreshList"></button-component>

        <list-component v-bind:list="posts" v-on:get-results="getPostList"></list-component>
    </div>
</template>

<script>
    export default {
        data: function () {
            return {
                active: 0,
                loader: 0,
                posts: {},
                errors: {}
            }
        },
        methods: {
            getPostList: function (page = 1) {
                const self = this;

                self.errors = {};
                self.loading();

                axios.get('/posts/getPostList?page=' + page)
                    .then(function (response) {
                        self.posts = response.data.list;
                        self.loading(0);
                    })
                    .catch(function (error) {
                        dd(error);
                        self.loading(0);
                        // self.errors = error;
                    });
            },
            startGenerate: function () {
                const self = this;

                self.errors = {};
                self.loading();

                axios.post('/posts/generatePosts')
                    .then(function (response) {
                        self.active = (response.data.valid ? 1 : 0);
                        self.loading(0);
                    })
                    .catch(function (error) {
                        dd(error);
                        self.loading(0);
                        // self.errors = error;
                    });
            },
            stopGenerate: function () {
                const self = this;

                self.errors = {};
                self.loading();

                axios.post('/posts/stopGeneratePosts')
                    .then(function (response) {
                        self.active = (response.data.valid ? 0 : 1);
                        // refresh post list
                        Vue.nextTick(function () {
                            self.getPostList();
                        });
                    })
                    .catch(function (error) {
                        dd(error);
                        self.loading(0);
                        // self.errors = error;
                    });
            },
            refreshList: function () {
                const self = this;

                self.getPostList();
            },
            loadData: function () {
                const self = this;
                
                self.loading();

                axios.get('/')
                    .then(function (response) {
                        self.active = response.data.active;
                        self.posts = response.data.posts;
                        self.loading(0);
                    })
                    .catch(function (error) {
                        dd(error);
                        self.loading(0);
                        // self.errors = error;
                    });
            },
            loading: function (value = 1) {
                const self = this;

                if ( self.loader == value )
                    return;

                if ( value == 1 ) 
                    self.$set(self, 'loader', value);
                else {
                     Vue.nextTick(function () {
                        self.$set(self, 'loader', value);
                    });
                }
            }
        },
        mounted: function () {
            this.loadData();
        }
    }

</script>
