<template>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div v-if="active == 1" class="alert alert-success" role="alert">
                Generation is running
            </div>
            <div v-else class="alert alert-warning" role="alert">
                Generation is not running
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            active: {
                type: Number,
                default: 0
            }
        }
    }

</script>
